<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="First things first shows us how to start each day in the best mindset possible">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Home Page</h1>
        <p>First things First</p>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>       
        <script type="text/javascript" src="../public/home.js"></script>
    </body>
</html>