* {
box-sizing: border-box;
font-size: 16px;
}

body {
    font-family: mono, helvetica, arial, sans-serif;
    margin-top: 50px;
    background-color: green;
    color: white;
    /* text-align: center; */
    background-size: cover;
}

header {
    text-align: center;
}

h1 {
    font-size: 22px;
}

img {
 
    width: 200px;
    border-radius: 50%
}

main {
    text-align: center;
}

button {
    margin: 5px auto;
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px; 
    border-radius: 5px;
    display: block;
}

button:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

.footer {
    text-align: center;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    width: 300px;
}

.counter {
    display: inline-block;
    max-width: 200px;
    background-color: darkgreen;
    color: paleturquoise;
    padding: 10px;
    margin: 10px;
}

footer p .footer {
    font-size: 12px;
}

@media only screen and (min-width: 620px) {
    img {
        width: 400px;
        height: 300px;
    } 

    footer .footer {
        margin-top: 15px;
        width: 400px;
    }
}

/* modal */

.modal {
    display: none;
    position: fixed;
    top: 10%;
    background-color: orange;
    width: 90%;
    margin: 10px auto;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 1000px;
}

.modal-body {
    background-color: whitesmoke;
    /* width: 100%; */
    color: black;
    padding-bottom: 50px;
    margin: 0;
}

.modal label, input  {
    margin-bottom: 15px;
}

.modal header button {
    width: 25px;
    display: inline-block;
}

 .modal form button  {
    width: 150px;
    margin: 0 auto 10px 30px;
}

footer p {
    text-align: center;
}